[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apipkg = "*"
asgiref = "*"
attrs = "*"
bcrypt = "*"
certifi = "*"
cffi = "*"
chardet = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
django-appconf = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
django-fs-trumbowyg = "*"
django-tinymce-lite = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
execnet = "*"
factory-boy = "*"
idna = "*"
importlib-metadata = "*"
inflection = "*"
iniconfig = "*"
itypes = "*"
pluggy = "*"
py = "*"
pycparser = "*"
pycryptodome = "*"
pyparsing = "*"
pytest-forked = "*"
pytest-xdist = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
"ruamel.yaml" = "*"
"ruamel.yaml.clib" = "*"
mysqlclient = "*"
six = "*"
sqlparse = "*"
text-unidecode = "*"
toml = "*"
uritemplate = "*"
urllib3 = "*"
zipp = "*"
Django = "*"
Faker = "*"
Jinja2 = "*"
Markdown = "*"
MarkupSafe = "*"
Pillow = "*"
PyJWT = "*"

[dev-packages]
Werkzeug = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[requires]
python_version = "3.9.1"
